p {
	word-wrap: normal;
	word-break: normal;
}

.article {
	max-width: 900px;
	margin: 5px auto;
}
.article img {
	float: right;
	margin-right: 10px;
	width: 48%;
}

.navbar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}
.navbar ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: auto;
	background-color: #333;
}
.navbar li {
	float:left;
	padding: 12px 14px;
	font-size: 1.0em;
	text-align: center;
}
.navbar li a {
	color: white;
}
.navbar #icon {
	width: 100px;
}

.active {
	background-color: #517649;
}

.typesetting {
	border:0px rgba(0, 0, 0, 0)
}

@media screen and (max-width: 600px) {
	.navbar #icon {
		width: 16.6667%;
	}
	.navbar li {
		font-size: 0.9em;
		padding: 4px 7px;
	}
	
	.article img {
		float: none;
		width: 90%;
		margin: 5px auto;
	}
}